<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Error | Greenwich String Quartet</title>
<!-- InstanceEndEditable -->
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="960.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>

<body>
<div class="container_12">
<a name="page_top" id="page_top"></a>
<div class="grid_12">
<div id="nav" class="grid_3 alpha">
<div class="center"><a href="/"><img src="images/collageJPG.jpg" alt="Greenwich String Quartet" width="140" height="93"/></a></div>
<ul>
<li class="first"><a href="/">Home</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="weddings.html">Weddings &amp; Civil Partnerships </a></li>
<li><a href="functions.html">Corporate &amp; private functions</a></li>
<li><a href="repertoire.html">Repertoire list</a></li>
<li><a href="hire.html">Hire</a></li>
<li><a href="links.html">Links</a></li>
<li class="last"><a href="contact.html">Contact</a></li>
</ul>
</div>
<div id="content" class="grid_9 omega">
<!-- InstanceBeginEditable name="content" -->
 <h1 class="center">The Greenwich String Quartet</h1>
 <h2 class="center">Error in submission</h2>
    <p><fmerror /></p>
<ul class="required">
    <fmerroritemlist />
</ul>

  <p>Please <a href="javascript:history.go(-1);">go back</a> and resend the form. </p>
  <!-- InstanceEndEditable -->
</div>

<div id="footer"><p><a href="mailto:info@greenwichstringquartet.co.uk">info@greenwichstringquartet.co.uk</a></p>
<p>Tel: 07966 539 948</p>
<p><a href="http://www.greenwichstringquartet.co.uk/">www.greenwichstringquartet.co.uk</a></p></div>
</div>
</div>

</body>
<!-- InstanceEnd --></html>
